# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
.venv/
env/

# Environment variables (Sensitive - MUST NOT BE PUSHED)
.env
.env.local
.env.*

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db

# User Uploads (Allow images to be committed for deployment)
# uploads/*
# !uploads/.gitkeep

# Logs
*.log
